.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "roboto";
}
.dashboard {
  width: 99%;
  height: 98%;
  display: flex;
  flex-direction: row;
}
.side-menu {
  /* width: 8.5%; */
  max-width: 80px;
  margin: 1% 0.5% 1% 1%;
  background-color: #292d2e;
  border-radius: 20px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}
.logo {
  border-bottom: 0.05em solid rgba(99, 99, 99, 0.596);
  margin: 1%;
  padding: 40% 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-items {
  /* width: 100%; */
  display: flex;
  align-items: center;
  flex-direction: column;
}
.side-items li {
  color: rgba(99, 99, 99, 0.897);
  font-size: x-large;
  margin: 2em;
}
.main-menu {
  /* width: 88.5%; */
  width: 95%;
  margin: 1% 1% 1% 0.5%;
  display: flex;
  flex-direction: column;
}
.rw-1 {
  height: 45%;
  display: flex;
  flex-direction: row;
}
.col-1 {
  padding: 1% 2%;
  width: 34%;
  margin-right: 1%;
  background-color: #292d2e;
  border-radius: 20px;
}
.col-2 {
  padding: 1% 2%;
  width: 65%;
  background-color: #292d2e;
  border-radius: 20px;
}
.main-info {
  display: flex;
  flex-direction: column;
  border-bottom: 0.1em solid rgba(99, 99, 99, 0.5);
  /* height: 80%; */
  padding: 2%;
}
.main-info .img {
  text-align: center;
  /* height: 50%; */
  width: fit-content;
  font-size: 500%;
  padding: 1%;
}
.temp {
  font-size: 300%;
}
.i-sp {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-bottom: 8px;
}
.i-sp span {
  font-size: small;
}
.icons {
  margin-right: 0.4em;
  font-size: larger;
}
.extra-info {
  /* height: 20%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.s-col {
  background-color: black;
}
.rw-2 {
  height: 55%;
}
.rw-2a {
  height: 15%;
  background-color: black;
  display: flex;
  align-items: center;
}
.rw-2b {
  height: 85%;
  display: flex;
  flex-direction: row;
}
