.locator {
  height: 100vh;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.locator span {
    background-color: whitesmoke;
    color: black;
    margin: 5%;
    padding: 1%;
}
.getLocation {
    background-color: tomato;
    border-radius: 100%;
}
.getLocation:hover {
    box-shadow: 1px 1px 1px 1px gainsboro;
    cursor: pointer;
}
.getLocation img {
    width: 100px;
    height: 100px;
}