.locator {
  height: 100vh;
  /* text-align: center; */
  /* background-color: red; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.site-logo {
    /* width: 30%; */
    width: 15%;
    margin-bottom: 15%;
    margin-top: 5%;
}
.locator span {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    margin-bottom: 5%;
    /* width: 100%; */
    padding: 1%;
}
.getLocation {
    background-color: tomato;
    border-radius: 100%;
}
.getLocation:hover {
    box-shadow: 1px 1px 1px 1px gainsboro;
    cursor: pointer;
}
.getLocation img {
    width: 100px;
    height: 100px;
}